<html lang="en">
	<head>
		<script src="/assets/js/lib/jquery/jquery-3.7.1.slim.min.js" is:inline
		></script>
		<link
			href="https://fonts.cdnfonts.com/css/metropolis-2"
			rel="stylesheet"
		/>
		<script src="/assets/js/lib/vex/vex.combined.min.js" is:inline></script>
		<link rel="stylesheet" href="/assets/css/lib/vex/vex.css" />
		<link
			rel="stylesheet"
			href="/assets/css/lib/vex/vex-theme-default.css"
		/>
		<script>
			vex.defaultOptions.className = "vex-theme-default";
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="title" content="Horizon" />
		<meta
			name="description"
			content="A minimalistic Proxy with Everything you want. Made for Proxathon 2024"
		/>
		<title>Google</title>
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link
			rel="icon"
			href="https://www.google.com/favicon.ico"
			type="image/x-icon"
		/>
		<script src="/baremux/bare.cjs" is:inline></script>
		<script src="/epoxy/index.js" is:inline></script>
		<script src="/libcurl/index.js" is:inline></script>
	</head>

	<body>			
		<center>
			<h3
				style="
                    margin-bottom: 30px;
                    text-align: left;
                    margin-left: 1%;
                    margin-top: 10px;
                "
			>
				Horizon v1
			</h3>

			<div class="card" style="position: fixed">
				<div class="bg">
					<h2
						style="
                            margin-bottom: 30px;
                            text-align: center;
                            margin-left: -1%;
                            margin-top: 10px;
                        "
					>
						<div id="time"></div>
					</h2>

					<div
						class="searchbar"
						style="
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        "
					>
						<div class="searchbar-wrapper">
							<div class="searchbar-left">
								<div class="search-icon-wrapper">
									<span class="search-icon searchbar-icon">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 24 24"
										>
											<path
												d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
											>
											</path>
										</svg>
									</span>
								</div>
							</div>

							<form id="uv-form" class="searchbar-center">
								<div class="searchbar-input-spacer"></div>
								<input
									id="uv-address"
									type="text"
									class="searchbar-input"
									maxlength="2048"
									autocapitalize="off"
									autocomplete="off"
									title="Search"
									role="combobox"
									placeholder="Search Anything"
								/>
							</form>
						</div>
					</div>
					<p style="margin-top: 65px; font-size: 12px">
						Welcome to v1
					</p>
				</div>
				<div class="blob"></div>
			</div>
			<center></center>
		</center>
		<div
			class="group"
			style="
                    position: fixed;
                    bottom: 4px;
                    left: 4px;
                    padding-top: 2px;
                    padding-left: 2px;
                    padding-right: 2px;
                "
		>
			<input
				type="color"
				id="colorPicker"
				class="style1"
				value="#b700ff"
				title="Click and drag to change rgb line color"
			/>
			<input
				type="color"
				id="colorPicker3"
				class="style1"
				style="margin-left: -5px"
				value="#4b4b4b"
				title="Click and drag to change the top shadow color"
			/>
			<input
				type="color"
				id="colorPicker2"
				class="style1"
				style="margin-left: -5px"
				value="#d1d1d1"
				title="Click and drag to change the bottom shadow color"
			/>
		</div>
		<div style="position: absolute; top: 8px; right: 10px" class="group">
			<img
				src="/assets/imgs/help.png"
				alt="Question mark"
				title="What is Horizon?"
				class="icon"
				style="width: 23px"
				id="info"
			/>
			<img
				class="icon"
				src="/assets/imgs/noclose.png"
				title="Prevent tab from closing"
				id="myImage"
				onclick="window.onbeforeunload = function() { return 'Leave site? Changes you made will not be saved'; }"
			/>
			<img
				src="/assets/imgs/fullscreen.png"
				alt="Fullscreen"
				class="icon"
				title="Fullscreen"
				style="width: 23px"
				onclick="openFullscreen();"
			/>
			<img
				src="/assets/imgs/hide.png"
				alt="Cloak"
				title="Cloak"
				class="icon"
				style="width: 23px"
				onclick="openGame();"
			/>
		</div>
		<div
			style="
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding-top: 5px;
                padding-bottom: 2px;
            "
		>
			<div id="background"></div>
			<input type="file" id="file-input" accept="image/*" />
			<img
				id="upload-img"
				class="icon"
				src="/assets/imgs/upload.png"
				alt="Upload Background"
				title="Click to upload a custom background"
			/>
			<img
				id="reset-img"
				class="icon"
				src="/assets/imgs/reset.png"
				alt="Reset Background"
				title="Click to reset the background"
			/>
		</div></body
	>
	<script src="/@/uv.bundle.js" is:inline></script>
	<script src="/@/uv.config.js" is:inline></script>
	<script src="/$/scramjet.worker.js" is:inline></script>
	<script src="/$/scramjet.bundle.js" is:inline></script>
	<script src="/$/scramjet.codecs.js" is:inline></script>
	<script src="/$/scramjet.config.js" is:inline></script>
	<script src="/assets/js/lib/rh/rammerhead.js" is:inline></script>
	<script src="/assets/js/index.js" is:inline></script>
	<script type="module" src="/assets/js/main.js" is:inline></script>
</html>
